#container{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    }

    body{
    background-color: rgb(36, 129, 183);
    }

    h1{
        border-bottom-style: solid;
        border-color: black;
        color: white;
    }

    button{
    font-size: 1.5rem;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: hsl(188, 100%, 36%);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px; 
    box-shadow: 1px 3px #50514F;
    outline: none;
    transition: .3s; 
    position: relative;
    }
    
    button:hover{
    background-color: hsl(187, 100%, 30%);
    transform: translateY(15px);
    }
    
    button:active{
    background-color: hsl(191, 100%, 39%);
    }
    
    input{
    font-size: 2rem;
    width: 120px;
    text-align: center;
    font-weight: bold;
    }
    
    #diceResult{
    margin: 25px;
    }
    
    #diceImages img{
    width: 150px;
    margin: 5px;
    }